<html>
<head>
    <title>Kendo UI For Angular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../css/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/kendo.silver.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/customCss.css" rel="stylesheet" type="text/css"/>
    <link href="../css/kendoResect.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="kendoUIApp">

<h4>AutoComplete</h4>

<div ng-controller="AutoCompleteController">
    <input kendo-auto-complete k-ng-model="selectedData" ng-model="inputValue" k-options="autoCompleteOptions"/>
    {{selectedData}}/{{inputValue}}
</div>

<h4>Grid</h4>

<div ng-controller="GridController">
    <div kendo-grid
         k-options="gridOptions" k-on-change="selected = data"></div>
    <hr/>
    {{gridData | json}}
</div>

<h4>ListView</h4>

<div ng-controller="ListViewController">
    <div kendo-list-view k-options="listViewOptions" k-data-source="listViewData"
         k-on-change="selected = data"></div>
    <hr/>
    {{selected | json}}
</div>

<h4>Tree</h4>

<div ng-controller="TreeViewController">
    <div kendo-tree-view k-data-source="treeData" k-options="treeOptions"
         k-on-change="bindTreeChange(dataItem)"></div>
    text:{{selectTreeNode.text}}/ id:{{selectTreeNode.id}}
    {{selectTreeNode}}
</div>

<h4>DropDownList</h4>

<div ng-controller="DropDownListController">
    <div kendo-drop-down-list k-data-source="dropDownListData" k-options="dropDownListOptions"
         k-ng-model="selectedItem"></div>
    text:{{selectedItem.name}}/ id:{{selectedItem.id}}
    {{selectedItem.id}}
</div>


<h4>ComboBox</h4>

<div ng-controller="ComboBoxController">
    <div kendo-combo-box k-data-source="comboBoxData" k-options="comboBoxOptions"
         k-ng-model="selectedItem" ng-model="value"></div>
    text:{{selectedItem.name}}/ id:{{selectedItem.id}} ---- {{selectedItem}}/{{value}}
</div>


<h4>TabStrip</h4>

<div ng-controller="TabStripController">
    <div kendo-tab-strip k-content-urls="contentURLs">
        <ul>
            <li class="k-state-active">First tab</li>
            <li>Second tab</li>
            <li>Ajax content</li>
        </ul>

        <div style="padding: 1em">
            This is the first tab
        </div>

        <div style="padding: 1em">
            This is the second tab
        </div>

        <div></div>
    </div>

</div>
</body>
</html>

<script src="../js/other/jquery-1.9.1.js"></script>
<script src="../js/other/angular.js"></script>
<script src="../js/other/kendo.web.2014.2.1008.js"></script>
<script src="../js/app/service/ajaxService.js"></script>
<script src="../js/foundation/cccUI/angular.cccTextInput.js"></script>
<script src="../js/app/kendoUI.js"></script>
