<html>
<head>
    <title>Select For Angular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../css/kendo.silver.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/customCss.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="kendoUISelectApp">

<h4>DropDownList</h4>

<div ng-controller="DropDownListController">
    <div kendo-drop-down-list k-data-source="dropDownListData" k-options="dropDownListOptions"
         ng-model="myData.id" ng-change="doSomething()"></div>
    {{myData}}
</div>

<h4>ComboBox</h4>

<div ng-controller="ComboBoxController">
    <div kendo-combo-box k-data-source="comboBoxData" k-options="comboBoxOptions" ng-model="myData.id"></div>
    {{myData}}
</div>

</body>
</html>

<script src="../js/other/jquery-1.9.1.js"></script>
<script src="../js/other/angular.js"></script>
<script src="../js/other/kendo.web.2014.2.1008.js"></script>

<script src="../js/services/ajaxService.js"></script>
<script src="../js/app/kendoUI.select.js"></script>
